/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

:root {
  --title-font: "Poppins", sans-serif;
  --text-font: "Inter", sans-serif;
  --title-color: #334155;
  --text-color: #526074;
  --subtitle-color: #36495a;
  --btn-color: #517bee;
  --btn-text-color: #fff;
  --bord-radius: 0.5rem;
  --title-size: 3rem;
  --subtitle-size: 1.5rem;
  --text-size: 1.1rem;
  --back-color-trans: #c0cbffa6;
  --bg-color-box: #ffffff;
  --shadow: 1px 1px 5px 0 #1e293b1f;
  --progress-transition: 5s;
}

body{
  background-color: #F0F4F9;
}
.title {
  font-family: var(--title-font);
  font-size: var(--title-size);
  color: var(--title-color);
}

.subtitle-1 {
  font-family: var(--title-font);
  font-size: var(--subtitle-size);
  color: var(--subtile-color);
  font-weight: 700;
  color: var(--title-color);
}

.subtitle-2 {
  font-family: var(--title-font);
  font-size: var(--subtitle-size);
  color: var(--subtitle-color);
  font-weight: 600;
}

.center {
  text-align: center;
}

.text {
  color: var(--text-color);
  font-size: var(--text-size);
  font-family: var(--text-font);
  font-weight: 450;
  margin: 5px 15px;
}

.link {
  color: var(--btn-color);
  font-family: var(--title-font);
  font-weight: bold;
  padding: 3px 55px;
  border-radius: 8px;
}

.box {
  background-color: var(--bg-color-box);
  margin: var(--bord-radius);
  text-align: center;
  height: max-content;
  padding: 1rem 0;
  border-radius: var(--bord-radius);
  /* border: solid 1px var(--back-color-trans); */
  box-shadow: var(--shadow);
}

.container-title {
  color: var(--btn-color);
  font-size: 1.2rem;
  font-family: var(--title-font);
}

.main-container .text {
  text-align: start;
}

.main-container {
  display: flex;
  justify-content: space-between;
  border: 0;
  height: max-content;
}

.main-welcome{
  background-image: url(../img/headerbg.jpg);
  background-position: center;
  background-size: cover;
  padding: 10vh 0;
  color: #fff;
}
.main-welcome h1{
  font-family: var(--title-font);
  font-size: var(--title-size);
  /* color: var(--subtile-color); */
  font-weight: 700;
  /* color: var(--title-color); */
}
.main-welcome h2{
  font-family: var(--title-font);
  font-size: 2rem;
  /* color: var(--subtile-color); */
  font-weight: 600;
  /* color: var(--title-color); */
}
.main-welcome p{
  font-family: var(--text-font);
  font-size: var(--text-size);
  /* color: var(--subtile-color); */
  font-weight: 600;
  /* color: var(--title-color); */
}


.max-title {
  width: 100%;
  background-color: black;
  height: 50px;
  align-items: center;
}

.comment-text-aera {
  /* background-color: var(--back-color-trans); */
  text-align: center;
  height: 2rem;
  border: 0;
  font-family: var(--text-font);
  width: 50%;
  margin: 10px;
  font-size: var(--text-size);
  border-bottom: solid 2px var(--btn-color);
  /* border-radius: var(--bord-radius); */
  background-color: #00000000;
}

.comment .btn {
  width: 30rem;
}

.container-img {
  border-radius: var(--bord-radius);
  width: 93%;
}

.science-container-img {
  border-radius: var(--bord-radius);
  width: 93%;
  background-image: url(../img/science.jpg);
  height: 18rem;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.history-container-img {
  border-radius: var(--bord-radius);
  width: 93%;
  background-image: url(../img/history.jpg);
  height: 18rem;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.litterature-container-img {
  border-radius: var(--bord-radius);
  width: 93%;
  background-image: url(../img/litterature.jpg);
  height: 18rem;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* .hover-blur:hover{
  backdrop-filter: blur(10px);
  padding: 100%; 
} */

.langues-container-img {
  border-radius: var(--bord-radius);
  width: 93%;
  background-image: url(../img/language.jpg);
  height: 18rem;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.main-container section{
  transition: 0.4s;
  height: 178vh;
  width: 100%;
}

.main-container section:hover{
  cursor: pointer;
  box-shadow:  1px 1px 5px 0 #1e293b;
}

.main-container-title {
  font-family: var(--title-font);
  font-size: var(--title-size);
  color: var(--btn-text-color);
}

.stat-container-1{
  width: 95%;
  background-color: var(--back-color-trans);
  border-radius: var(--bord-radius);
  overflow: hidden;
  margin: 5vh auto 0 auto;
}

.skills{
  text-align: right;
  padding: 10px 20px 10px 0;
  color: #fff;
  font-family: var(--text-font);
}

.stat_1{
  width: 48%;
  background-color: var(--btn-color);
  animation: animation_1 var(--progress-transition) ease-in-out forwards;
}
@keyframes animation_1 {
    0%{
        width: 0;
        margin-left: -50px;
    }
    100%{
        width: 48%;
    }
}

.stat-container-2{
  width: 95%;
  background-color: var(--back-color-trans);
  border-radius: var(--bord-radius);
  overflow: hidden;
  margin: 8.2vh auto 0 auto;
}
.stat_2{
  width: 32%;
  background-color: var(--btn-color);
  animation: animation_2 var(--progress-transition) ease-in-out forwards;
}
@keyframes animation_2 {
    0%{
        width: 0;
        margin-left: -50px;
    }
    100%{
        width: 32%;
    }
}

.stat-container-3{
  width: 95%;
  background-color: var(--back-color-trans);
  border-radius: var(--bord-radius);
  overflow: hidden;
  margin: 8.2vh auto 0 auto;
}
.stat_3{
  width: 62%;
  background-color: var(--btn-color);
  animation: animation_3 var(--progress-transition) ease-in-out forwards;
}
@keyframes animation_3 {
    0%{
        width: 0;
        margin-left: -50px;
    }
    100%{
        width: 62%;
    }
}

.stat-container-4{
  width: 95%;
  background-color: var(--back-color-trans);
  border-radius: var(--bord-radius);
  overflow: hidden;
  margin: 8.2vh auto 0 auto;
}
.stat_4{
  width: 75%;
  background-color: var(--btn-color);
  animation: animation_4 var(--progress-transition) ease-in-out forwards;
}
@keyframes animation_4 {
    0%{
        width: 0;
        margin-left: -50px;
    }
    100%{
        width: 75%;
    }
}




.footer-box {
  background-color: var(--title-color);
  margin: var(--bord-radius);
  text-align: center;
  height: max-content;
  padding: 1rem 0;
  border-radius: var(--bord-radius);
  /* border: solid 1px var(--back-color-trans); */
  box-shadow: var(--shadow);
}

.footer-box p {
  color: var(--btn-text-color);
  font-family: var(--text-font);
}

.footer-box p span {
  color: var(--btn-color);
}

/* Media queries*/
@media all and (max-width: 1206px) {
  .main-container {
    flex-direction: column;
  }
  .main-container .text {
    text-align: center;
  }
  .science-container-img {
    border-radius: var(--bord-radius);
    background-image: url(../img/science.jpg);
    width: 90%;
    height: 20rem;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .history-container-img {
    border-radius: var(--bord-radius);
    background-image: url(../img/history.jpg);
    width: 90%;
    height: 20rem;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .litterature-container-img {
    border-radius: var(--bord-radius);
    background-image: url(../img/litterature.jpg);
    width: 90%;
    height: 20rem;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .langues-container-img {
    border-radius: var(--bord-radius);
    background-image: url(../img/language.jpg);
    width: 90%;
    height: 20rem;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
@media all and (max-width: 531px) {
  /* body{
        position: relative; 
    } */
  header nav {
    padding: 10px 20px;
    width: 100%;
  }
  header nav ul {
    flex-direction: column;
    position: absolute;
    top: 0;
    transition: 0.5s;
    left: -600px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.754);
    backdrop-filter: blur(15px);
  }
  header nav ul li a {
    text-transform: uppercase;
  }
  header nav ul li {
    margin: 20px 0;
  }
  .button {
    width: 50px;
    height: 50px;
    /* background-color: #00000044; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
  }
  .button::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #000;
    transform: translateY(10px);
    transition: 0.5s;
  }
  .button::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #000;
    box-shadow: 0 10px #000;
    transform: translateY(-10px);
    transition: 0.5s;
  }
  .button.active::after {
    box-shadow: 0 0 0 #000;
    transform: rotate(-45deg);
    transition: 0.5s;
  }
  .button.active::before {
    box-shadow: 0 0 0 #000;
    transform: rotate(45deg);
    transition: 0.5s;
  }
  header nav ul.active {
    left: 0;
    transition: 0.5s;
  }
  .main-container {
    flex-direction: column;
  }
  .main-container section {
    width: 95%;
    height: max-content;
    margin: 10px auto;
  }
  .comment-text-aera {
    width: 80%;
  }
  .comment .btn {
    width: 80%;
  }
}
