@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --title-font: "Poppins", sans-serif;
  --text-font: "Inter", sans-serif;
  --title-color: #334155;
  --subtitle-color: #36495a;
  --text-color: #526074;
  --btn-color: #517bee;
  --btn-text-color: #fff;
  --bord-radius: 0.5rem;
  --title-size: 3rem;
  --subtitle-size: 1.5rem;
  --text-size: 1.1rem;
  --back-color-trans: #c0cbffa6;
  --bg-color-box: #F0F4F9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header nav {
  display: flex;
  height: 10vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
  top: 0;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  background-color: var(--bg-color-box);
  align-items: center;
  padding: 0 30px;
}

header nav h1 a {
  font-family: var(--title-font);
  color: var(--title-color);
  text-decoration: none;
  font-size: var(--title-size);
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
  padding-left: 20px;
  font-family: var(--text-font);
}

header nav ul li a {
  text-decoration: none;
  color: var(--title-color);
  transition: 0.5s;
  font-weight: bold;
  font-size: var(--text-size);
}

header nav ul li a:hover {
  color: var(--btn-color);
  padding: 0 10px;
}

main {
  margin-top: 12vh;
}

main .welcome{
  text-align: center;
  margin: 10px 0;
}

main .welcome h2{
  font-size: var(--title-size);
  color: var(--title-color);
  font-family: var(--title-font);
}

main .welcome p{
  font-family: var(--text-font);
  font-size: var(--text-size);
  color: var(--text-color);
}

main .login{
  align-items: center;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* border-radius: var(--bord-radius);
  background-color: var(--back-color-trans);
  padding: 15px 10%; */
}

main .login h2{
  font-family: var(--title-font);
  color: var(--title-color);
  font-size: var(--subtitle-size);
}

/* main .login form  */
.input-enter{
  color: var(--title-color);
  background-color: var(--back-color-trans);
  border-radius: var(--bord-radius);
  text-align: center;
  height: 2.5rem;
  border: 0;
  font-family: var(--text-font);
  width: 70%;
  margin: 10px;
  font-size: var(--text-size);
}

/* main .login  */
.btn{
  color: var(--btn-text-color);
  background-color: var(--btn-color);
  border-radius: var(--bord-radius);
  font-size: var(--text-size);
  font-family: var(--text-font);
  padding: 10px 15px;
  border: 0;
  width: 70%;
  margin-top: 10px;
  cursor: pointer;
}

main .login p{
  color: var(--title-color);
  font-size: var(--text-size);
  font-family: var(--text-font);
  margin-top: 15px;
}

main .login .name-input input{
  color: var(--title-color);
  background-color: var(--back-color-trans);
  border-radius: var(--bord-radius);
  text-align: center;
  height: 2.5rem;
  border: 0;
  font-family: var(--text-font);
  width: 34%;
  margin: 10px 1%;
  font-size: var(--text-size);
}

main .login p a{
  color: var(--btn-color);
  font-weight: bold;
  text-decoration: underline;
}

.box {
  background-color: var(--bg-color-box);
  margin: var(--bord-radius);
  text-align: center;
  height: max-content;
  padding: 1rem 0;
  border-radius: var(--bord-radius);
  /* border: solid 1px var(--back-color-trans); */
  box-shadow: var(--shadow);
}
.footer-box {
  background-color: var(--title-color);
  margin: var(--bord-radius);
  text-align: center;
  height: max-content;
  padding: 1rem 0;
  border-radius: var(--bord-radius);
  /* border: solid 1px var(--back-color-trans); */
  box-shadow: var(--shadow);
}
.footer-box p{
  color: var(--btn-text-color);
  font-family: var(--text-font);
}
.footer-box p span{
  color: var(--btn-color);
}